<%= simple_form_for :search, url: users_path, method: "GET" do |f| %>
  <%= text_field_tag :search, "", class: "search_users", remote: true %>

<% end %>

<script type="text/javascript">
  $(".search_users").keyup(function() {
  $.ajax({
    url: '/users',
    data: {search: $(this).serialize()}
  });
});
</script>

 <%#= simple_form_for :search, url: users_path, method: "GET", html: { class: 'form-inline' } do |f| %>
 <%#= text_field_tag :search %>
 <%#= submit_tag "Search by name or subject ", :name => nil %>
 <%#= radio_button_tag 'radio_input', 'name', true %> <%#name
 <%#= radio_button_tag 'radio_input', 'subject' %> <%#subject

 <br><%#= link_to 'Back', users_path %>

 <%# end %> 

 <%#= form_with(url: "/users", method: :get, data: {action: "submit->search#submit"}) do |f| %>
   <%#= label_tag(:query, "Search for") %>
   <%#= text_field_tag :query, params[:query], data: {target: "search.query"} %>
   <%#= submit_tag("Search", class: "btn btn-primary") %>
 <%# end %>

<!-- <div class="container">
  <h1 class="text-center">Users</h1>
  <div class="row justify-content-center" data-controller="search">
   [... search form and content here...]
  </div>
</div>
 -->

<%#= Search using radio button %>

<%#= simple_form_for :search, url: users_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%#= f.input :name, input_html: {value: ""} %>   
  <%#= f.submit "Search", class: "btn btn-primary" %>
  <%#= link_to 'Back', users_path %>
<%# end %>

<h1>Listing Students</h1>
<%= link_to 'New Student', new_user_path %>

<table class="table1">
  
 <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "age" %></th>
    <th><%= sortable "subject"%></th>
    <th colspan="3"><%= "   Options" %></th>
 </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.age %></td>
      <td><%= user.subject %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', users_path %>

<style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
          width: 100%;
        }

        th, td {
          text-align: left;
          padding: 8px;
        }
        tr:nth-child(odd) {background-color: white}
        tr:nth-child(even) {background-color: #f2f2f2;}
      }

</style>