<%= @users.each do |user| %>
<p>
	<%= form.label :name %><br>
	<%= form.text_field :name %>
</p>

<p>
	<%= form.label :age %><br>
	<%= form.text_area :age %>
</p>

<p>
	<%= form.label :subject %><br>
	<%= form.text_area :subject %>
</p>
