<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Subject</th>
	</tr>

	<tr>
		<td><%= @user.name %></td>
		<td><%= @user.age %></td>
		<td><%= @user.subject %></td>
	</tr>

</table>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>

<style>
    table,
    td,
    th {
      padding: 10px;
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: #e5e5e5;
      text-align: center;
    }
</style>