<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <style>
      
        #container{
          width: 50px;
          height: 50px;
          position: relative;
          background-color: red;

        }

        #box{
          width: 10px;
          height: 10px;
          position: absolute;
          background-color: red;
        }

    </style> -->

  </head>

<body>

  <!-- <div class="search-bar">
      <input type="text" name="search" autocomplete="off"  -->
<!--       id="myInput" onkeyup="myFunction()" placeholder="Search">
      </div> -->

<!--   <p id="demo" onclick="this.innerHTML='clicked on paragraph'" > paragraph </p>

  <button id="btn">Date</button> -->
  
  <!--   <p> <button onclick="move()" > move </button> </p>
  -->  
  <!-- <div id="container">
    <div id="box"></div>
  </div> -->

<!--   <div onmouseover="mOver(this)" onmouseout="mOut(this)" 
  style="background-color:#D94A38;width:120px;height:20px;padding:40px; text-align: center;"> Mouse Over </div>  -->

  <script>

    function mOver(obj) {
      obj.innerHTML = "Thank You"
    }

      function mOut(obj) {
        obj.innerHTML = "Mouse Over "
    }

    // function move(){
    //   var elem = document.getElementById("box");
    //   var pos = 0;
    //   var id = setInterval(frame,3);
    //   function frame(){
    //     if (pos == 35){
    //       clearInterval(id);
    //     }
    //     else{
    //       pos++;
    //       elem.style.top = pos + "px";
    //       elem.style.left = pos + "px";
    //     }
    //   }
    // }

     // document.getElementById("demo").style.color = "blue";
    // document.getElementById("demo").innerHTML="para changed"

    // document.getElementById("btn").addEventListener("click",fun);
    // function fun(){
    //   // document.write(Date())
    //    alert(Date())
    // }
  </script>

<!--   <p id="p1" onclick="this.innerHTML='inner HTML called'"> JavaScript </p> -->

  <p id="p1"> JavaScript </p>

<!--   <button type="button" onclick="this.innerHTML='inner HTML called'"> Click Me! </button> -->

<script>
  


</script>

<!--   <script >
    document.getElementById("p1").style.color = "red";
  </script> -->

<!--   <script>   
   document.getElementById("c").addEventListener("click", msg());
  </script> -->

<!--   <form>
  <input type="button" value="click" onclick="msg()"/>  
  </form>  --> 

<!--   Enter your name: <input type="text" id="fname" onchange="myFunction()">
 -->

<!--   <h1>Hello, Rails!</h1>
  <button id="greet-user-button">Hello!</button> -->
  <%#= javascript_pack_tag 'hello'%>



  <!-- <a href="#" onclick ="this.style.backgroundColor='#990000'">Paint it red</a> -->

  <!-- java script function -->

<!--   <h2>External JavaScript</h2>
  <script>
    function myFunction() {
    document.getElementById("para").innerHTML = "function called.";
    }
  </script>

  <p id="para">A Paragraph.</p>

  <button type="button" onclick="myFunction()">Try it</button> -->

  <!--   <button onclick="document.getElementById('demo').innerHTML=Date()">The time is?</button>

  <p id="demo"></p>
  -->

  <!--   <h2>What Can JavaScript Do?</h2>

  <p id="demo">JavaScript can hide HTML elements.</p>

  <button type="button" onclick="document.getElementById('demo').style.display='none'">Click Me!</button> -->


  <%= image_tag "index2.jpeg", class: "logo" %> 
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content"> 
      <% if student_signed_in? %>
        <a href="#"><%=  link_to 'logout',destroy_student_session_path,method: :delete %></a>  
        <a href="#" ><%= link_to 'Profile', edit_student_registration_path %></a>
      <% else %>
        <a href="#"><%=  link_to 'login', student_session_path %></a>
        <a href="#"><%= link_to 'signup', new_student_registration_path %></a>
      <% end %>
    </div>
  </div> 



  <div class="container-fluid" style="background-image: url('/assets/index4.jpeg'); position: absolute; height: 650px;  background-repeat: no-repeat; background-size: cover;" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>

</html>